<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">


  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" formControlName="name" type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="dimensions">Dimensions:</label>
    <input id="dimensions" formControlName="dimensions" type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="price">Price:</label>
    <input id="price" formControlName="price" type="number" class="form-control" />
  </div>

  <label for="image">Carte d'identité nationale</label>
  <input id="image" type="file" (change)="onFileSelected($event, 'image')" required>

  <div *ngIf="imagePreviewUrl">
    <h3>Aperçu de l'image :</h3>
    <img [src]="imagePreviewUrl" alt="Image Preview" style="max-width: 70%; height: auto;">
  </div>

  <div class="button-group">
    <button type="submit" [disabled]="form.invalid" class="submit-button">Submit</button>
    <button type="reset" class="reset-button">Reset</button>
  </div>
</form>
