<div class="content-box container">
    <!-- ===== section starts  ===== -->
    <section class="inside-page">
       <div class="inside-wrapper container">
          <h2>Cakes for all tastes</h2>
          <p> Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules, Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.                        </p>
          <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
          <!-- Navigation -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs full col-lg-3 margin1 tabs-left" id="myTab">
             <li class="active">
                <a href="#tab1" data-toggle="tab" >
                <i class="flaticon-cake-4"></i>
                Birthday Cakes
                </a>
             </li>
          </ul>
          <div class="anchor"></div>
          <div class="col-lg-9">
             <!-- Price tabs Start -->
             <div class="tabbable">
                <div class="tab-content">
                   <!--Tab Content 1 -->
                   <div class="tab-pane fade active in" id="tab1">
                      <!-- Prices: Hair & Face -->
                      <div class="prices-main">
                         <!--  Row -->
                         <div class="col-md-12">
                            <!-- menu body -->
                            <div class="menu-body">
                               <div class="menu-section">
                                  <!-- Item starts -->
                                  <div class="menu-item">
                                     <div class="menu-item-pic lightbox">
                                        <a href="/assets/img/menu/price1.jpg">
                                        <img class="img-responsive img-circle img-price" src="/assets/img/menu/price1.jpg" alt="">
                                        </a>
                                     </div>
                                     <div class="menu-item-name">
                                        Chocolate cake with frost
                                     </div>
                                     <div class="menu-item-price">
                                        $50
                                     </div>
                                     <div class="menu-item-description">
                                        <p>Cupcake ipsum dolor sit. Amet toffee pastry caramels macaroon oat cake tart. Gummi bears tart ice cream donut chocolate. Soufflé sweet tootsie roll macaroon jelly-o chocolate cake croissant sweet.</p>
                                     </div>
                                  </div>
                                  <!-- Item ends -->
                                  <!-- Item starts -->
                                  <div class="menu-item">
                                     <div class="menu-item-pic lightbox">
                                        <a href="/assets/img/menu/price2.jpg">
                                        <img class="img-responsive img-circle img-price" src="/assets/img/menu/price2.jpg" alt="">
                                        </a>
                                     </div>
                                     <div class="menu-item-name">
                                        Black forest with strawberries
                                     </div>
                                     <div class="menu-item-price">
                                        $70
                                     </div>
                                     <div class="menu-item-description">
                                        <p>Cupcake ipsum dolor sit. Amet toffee pastry caramels macaroon oat cake tart. Gummi bears tart ice cream donut chocolate Soufflé sweet.</p>
                                     </div>
                                  </div>
                                  <!-- Item ends --> <!-- Item starts -->
                                  <div class="menu-item">
                                     <div class="menu-item-pic lightbox">
                                        <a href="/assets/img/menu/price3.jpg">
                                        <img class="img-responsive img-circle img-price" src="/assets/img/menu/price3.jpg" alt="">
                                        </a>
                                     </div>
                                     <div class="menu-item-name">
                                        Walnut Cake
                                     </div>
                                     <div class="menu-item-price">
                                        $30
                                     </div>
                                     <div class="menu-item-description">
                                        <p>Cupcake ipsum dolor sit. Amet toffee pastry caramels macaroon oat cake tart. Gummi bears tart ice cream donut chocolate. Soufflé sweet tootsie roll macaroon jelly-o chocolate cake croissant sweet.</p>
                                     </div>
                                  </div>
                                  <!-- Item ends -->  
                                  <!-- Item starts -->
                                  <div class="menu-item">
                                     <div class="menu-item-pic lightbox">
                                        <a href="/assets/img/menu/price1.jpg">
                                        <img class="img-responsive img-circle img-price" src="/assets/img/menu/price1.jpg" alt="">
                                        </a>
                                     </div>
                                     <div class="menu-item-name">
                                        Chocolate cake with frost
                                     </div>
                                     <div class="menu-item-price">
                                        $50
                                     </div>
                                     <div class="menu-item-description">
                                        <p>Cupcake ipsum dolor sit. Amet toffee pastry caramels macaroon oat cake tart. Gummi bears tart ice cream donut chocolate. Soufflé sweet tootsie roll macaroon jelly-o chocolate cake croissant sweet.</p>
                                     </div>
                                  </div>
                                  <!-- Item ends -->
                                  <!-- Item starts -->
                                  <div class="menu-item">
                                     <div class="menu-item-pic lightbox">
                                        <a href="/assets/img/menu/price2.jpg">
                                        <img class="img-responsive img-circle img-price" src="/assets/img/menu/price2.jpg" alt="">
                                        </a>
                                     </div>
                                     <div class="menu-item-name">
                                        Black forest with strawberries
                                     </div>
                                     <div class="menu-item-price">
                                        $70
                                     </div>
                                     <div class="menu-item-description">
                                        <p>Cupcake ipsum dolor sit. Amet toffee pastry caramels macaroon oat cake tart. Gummi bears tart ice cream donut chocolate Soufflé sweet.</p>
                                     </div>
                                  </div>
                                  <!-- Item ends --> 
                                  <!-- Item starts -->
                                  <div class="menu-item">
                                     <div class="menu-item-pic lightbox">
                                        <a href="/assets/img/menu/price3.jpg">
                                        <img class="img-responsive img-circle img-price" src="/assets/img/menu/price3.jpg" alt="">
                                        </a>
                                     </div>
                                     <div class="menu-item-name">
                                        Walnut Cake
                                     </div>
                                     <div class="menu-item-price">
                                        $30
                                     </div>
                                     <div class="menu-item-description">
                                        <p>Cupcake ipsum dolor sit. Amet toffee pastry caramels macaroon oat cake tart. Gummi bears tart ice cream donut chocolate. Soufflé sweet tootsie roll macaroon jelly-o chocolate cake croissant sweet.</p>
                                     </div>
                                  </div>
                                  <!-- Item ends -->                                        
                               </div>
                               <!--/ menu section -->
                            </div>
                            <!-- / menu body -->
                         </div>
                         <!-- /col-md-12 -->									  
                      </div>
                      <!-- /prices-main -->
                   </div>
                   <!-- /#tab1 -->
                   <!--Tab Content 2 -->
                </div> 
             </div>
             <!--/tababble--> 
          </div>
          <!--/col-lg-9--> 
       </div>
       <!--/ inside-wrapper  -->
    </section>
        <!-- footer -->
            <app-footer></app-footer>
        <!-- / footer-->
 </div>
 <!-- / content-box -->