<div *ngIf="userRole === 'USER'">
<div id="sidebar" class="split col-md-2">
   <div class="affix-sidebar col-md-12">
      <div class="sidebar-nav">
         <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
               <!-- collapse button -->
               <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".sidebar-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <!-- Logo -->
               <div class="brand">
                  <a href="index.html">
                     <img src="assets/img/logo.png" alt="" class="img-responsive center-block">
                  </a>
               </div>
               <!-- /brand -->
            </div>
            <!-- /navbar-header  -->
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
               <ul class="nav navbar-nav" id="sidenav01">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="#">Our Services</a></li>
                  <li><a href="aboutus.html">About Us</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="menu.html">Menu</a></li>
                  <li><a (click)="logout()">Logout</a></li>
               </ul>
               <!-- navbar-nav -->
            </div>
            <!--/.nav-collapse -->
         </div>
         <!--/navbar -->
      </div>
      <!--/sidebar-nav -->
      <!-- /navbar-info -->
   </div>
   <!-- /affix-sidebar  -->
</div>
</div>


<div *ngIf="userRole === 'ADMIN'">
<div id="sidebar" class="split col-md-2">
   <div class="affix-sidebar col-md-12">
      <div class="sidebar-nav">
         <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
               <!-- collapse button -->
               <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".sidebar-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <!-- Logo -->
               <div class="brand">
                  <a href="/dashboard">
                     <img src="assets/img/logo.png" alt="" class="img-responsive center-block">
                  </a>
               </div>
               <!-- /brand -->
            </div>
            <!-- /navbar-header  -->
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
               <ul class="nav navbar-nav" id="sidenav01">
                  <li class="active"><a href="/dashboard">Home</a></li>
                  <li><a href="dashboard/show">Size</a></li>
                  <li><a href="dashboard/All">Saveur</a></li>
                  <li><a href="dashboard/Allgarniture">Garniture</a></li>
                  <li><a href="menu.html">Menu</a></li>
                  <li><a href="contact.html">fatima Zahera</a></li>
                  <li><a (click)="logout()">Logout</a></li>
               </ul>
               <!-- navbar-nav -->
            </div>
            <!--/.nav-collapse -->
         </div>
         <!--/navbar -->
      </div>
      <!-- /navbar-info -->
   </div>
   <!-- /affix-sidebar  -->
</div>
<!-- ===== / sidebar ends ===== -->