/* formes-list.component.css */
.Saveur-container {
    padding: 20px;
  }
  table {
    width: 50%;
  }
  
  .saveur-card {
    margin: 10px;
  }
  

  .Saveur-list-container{
    padding-bottom: 20px;

  }
/* show.component.css */
.saveur-image {
    max-width: 100px; /* ou toute autre valeur selon votre préférence */
    height: auto;
    border-radius: 4px; /* Pour arrondir les coins si nécessaire */
  }
  
  