	
    
           <!-- /divider-top -->
           <div class="content-box container">
              <!-- ===== section starts  ===== -->
              <section class="inside-page">
                 <div class="inside-wrapper container">
                    <!-- row -->
                    <div class="row">
                       <div class="col-md-5">
                          <!-- image -->
                          <img class="img-responsive img-rounded center-block" src="/assets/img/about/about1.jpg" alt="">
                       </div>
                       <!-- /col-md-->
                       <div class="col-md-7 res-margin">
                          <h2>Quality cakes and pastries</h2>
                          <p><strong>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie.</strong></p>
                          <p> In aliquet magna nec lobortis maximus.  Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules, Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.                        </p>
                          <!-- list-->
                          <ul class="custom pl-0">
                             <li>Ipuset phas ellus ac sodales Lorem ipsum dolor</li>
                             <li>Curabitur blandit pretium interdum. Aliquam sit amet elementum odio, vel ultrices dui. Pellentesque ac odio vitae felis suscipit </li>
                             <li>Ipuset phas ellus ac sodales Lorem ipsum dolor</li>
                          </ul>
                       </div>
                       <!-- /col-md-->
                    </div>
                    <!--/row -->
                    <!-- number counter-->
                    <div id="counter" class="row margin1">
                       <div class="col-lg-12">
                          <!-- Counter -->
                          <div class="col-md-4">
                             <div class="box-hover icon counter p-2">
                                <div class="counter-wrapper">
                                   <i class="counter-icon flaticon-social-care"></i>
                                   <!-- insert your final value on data-count= -->
                                   <div class="counter-value" data-count="100">0</div>
                                   <h4 class="title">Happy Customers</h4>
                                </div>
                             </div>
                             <!-- /counter -->
                          </div>
                          <!-- /col-lg -->
                          <!-- Counter -->
                          <div class="col-md-4 res-margin">
                             <div class="box-hover icon counter p-2">
                                <div class="counter-wrapper">
                                   <i class="counter-icon  flaticon-cake-7"></i>
                                   <!-- insert your final value on data-count= -->
                                   <div class="counter-value" data-count="25">0</div>
                                   <h4 class="title">Cake Options</h4>
                                </div>
                             </div>
                             <!-- /counter -->
                          </div>
                          <!-- /col-lg -->
                          <!-- Counter -->
                          <div class="col-md-4 res-margin">
                             <div class="box-hover icon counter p-2">
                                <div class="counter-wrapper">
                                   <i class="counter-icon flaticon-delivery"></i>
                                   <!-- insert your final value on data-count= -->
                                   <div class="counter-value" data-count="60">0</div>
                                   <h4 class="title">Deliveries Made</h4>
                                </div>
                             </div>
                             <!-- /counter -->
                          </div>
                          <!-- /col-lg -->		 
                       </div>
                       <!-- /row -->
                    </div>
                    <!-- /counter -->   
                    <!-- row -->							
                    <div class="row margin1">
                       <div class="col-md-12">
                          <h3 class="title">Meet Our Team</h3>
                          <!-- Team carousel -->
                          <div id="owl-team" class="owl-carousel owl-theme margin1">
                             <!-- Team member -->
                             <figure class="col-lg-12 team">
                                <!-- image -->
                                <img src="/assets/img/team/team4.jpg" class="img-fluid img-circle" alt="" />
                                <!-- social icons -->
                                <div class="icons">
                                   <a href="#"><i class="fa fa-envelope"></i></a>
                                   <a href="#"> <i class="fab fa-facebook-f"></i></a>
                                   <a href="#"> <i class="fab fa-instagram"></i></a>
                                </div>
                                <!-- caption -->
                                <figcaption>
                                   <h4>Mary Smith</h4>
                                   <h6>Cake Expert</h6>
                                   <p>
                                      Accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosa    
                                   </p>
                                </figcaption>
                             </figure>
                             <!-- /figure -->
                             <!-- Team member -->
                             <figure class="col-lg-12 team">
                                <!-- image -->
                                <img src="/assets/img/team/team2.jpg" class="img-fluid img-circle" alt="" />
                                <!-- social icons -->
                                <div class="icons">
                                   <a href="#"><i class="fa fa-envelope"></i></a>
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                                <!-- caption -->
                                <figcaption>
                                   <h4>John Doe</h4>
                                   <h6>Baker</h6>
                                   <p>
                                      Accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosa    
                                   </p>
                                </figcaption>
                             </figure>
                             <!-- /figure -->
                             <!-- Team member -->
                             <figure class="col-lg-12 team">
                                <!-- image -->
                                <img src="/assets/img/team/team3.jpg" class="img-fluid img-circle" alt="" />
                                <!-- social icons -->
                                <div class="icons">
                                   <a href="#"><i class="fa fa-envelope"></i></a>
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                                <!-- caption -->
                                <figcaption>
                                   <h4>Alissa Silva</h4>
                                   <h6>Wedding Cake Expert</h6>
                                   <p>
                                      Accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosa    
                                   </p>
                                </figcaption>
                             </figure>
                             <!-- /figure -->
                             <!-- Team member -->
                             <figure class="col-lg-12 team">
                                <!-- image -->
                                <img src="/assets/img/team/team5.jpg" class="img-fluid img-circle" alt="" />
                                <!-- social icons -->
                                <div class="icons">
                                   <a href="#"><i class="fa fa-envelope"></i></a>
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                                <!-- caption -->
                                <figcaption>
                                   <h4>Ana Doe</h4>
                                   <h6>Cake Assistant</h6>
                                   <p>
                                      Accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosa    
                                   </p>
                                </figcaption>
                             </figure>
                             <!-- /figure -->
                             <!-- /figure -->
                          </div>
                          <!-- /owl-carousel -->
                       </div>
                       <!-- /col-md -->
                    </div>
                    <!-- /row -->
                
                 </div>
                 <!--/ inside-wrapper  -->
              </section>
                      <!-- footer -->
                <app-footer></app-footer>
                    <!-- / footer-->
           </div>