

                <div  *ngFor="let forme of formes"  class="col-md-4 p-1">
                    <div class="post-slide box-hover">
                        <div class="post-img">
                                <!-- Image -->
                                <img class="img-responsive" src="{{forme.image}}" alt="">
                            </div>
                        <!-- post info -->
                        <div class="post-review">
                            <h5 class="post-title">{{ forme.name }}</h5>
                            <ul class="post-bar">
                                <li>
                                    <p>{{ forme.price }}$</p>
                                </li>
                            </ul>
                            <p class="post-description">{{ forme.dimensions }}</p>
                            <!-- button -->
                            <button class="btn btn-primary btn-md" (click)="onSelectForme(forme.idShape)">SELECT</button>
                        </div>
                        <!--/post-review -->
                    </div>
                    <!--/post-slide -->
                </div>

            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->

   