<div class="tabbable">
    <div class="tab-content">
        <div class="inside-wrapper container">
            <div id="owl-posts" class="col-md-14 owl-carousel">
                <!-- blog post -->

                <div  *ngFor="let garniture of garnitures"  class="col-md-4 p-1 ">
                    <div class="post-slide box-hover">
                        <div class="post-img">
                                <!-- Image -->
                                <img class="img-responsive" src="{{garniture.image}}" alt="">
                            </div>
                        <!-- post info -->
                        <div class="post-review">
                            <h5 class="post-title">{{ garniture.name }}</h5>
                            <ul class="post-bar">
                                <li>
                                    <p>{{ garniture.price }}$</p>
                                </li>
                            </ul>
                            <!-- button -->
                            <button class="btn btn-primary btn-md" (click)="onSelectGarniture(garniture.idTopping)">SELECT</button>
                        </div>
                        <!--/post-review -->
                    </div>
                    <!--/post-slide -->
                </div>
            </div>

        </div>
    </div>

   