<!-- ===== content starts  ===== -->
<div id="content" class="col-md-10 split">
    <div class="content-wrapper">
        <!-- Parallax Slider -->
        <div id="slider" class="parallax-slider" style="width:1200px;margin:0 auto;margin-bottom: 0px;">
            <!-- Slide 1 -->
            <div class="ls-slide" data-ls="duration:6000; transition2d:7; kenburnszoom:out; kenburnsscale:1.2;">
                <!-- background image  -->
                <img src="assets/img/slider/slide1.jpg" class="ls-bg" alt="" />
                <!-- text  -->
                <div class="ls-l header-wrapper"
                    data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400;">
                    <div class="header-text">
                        <h1><span>Welcome to</span> <br />Cake & Bake</h1>
                        <p class="header-p">We offer high quality, delicious,"from scratch" cakes! See our menu for more
                            information</p>
                        <div class="hidden-small">
                            <a class="btn btn-primary" href="menu.html">Our Menu</a>
                        </div>
                        <!--/hidden-small -->
                    </div>
                    <!-- header-text  -->
                </div>
                <!-- ls-l  -->
            </div>
            <!-- ls-slide -->
            <!-- Slide 2 -->
            <div class="ls-slide" data-ls="duration:6000; transition2d:7; kenburnszoom:out; kenburnsscale:1.2;">
                <!-- background image  -->
                <img src="assets/img/slider/slide2.jpg" class="ls-bg" alt="" />
                <!-- text  -->
                <div class="ls-l header-wrapper"
                    data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400;">
                    <div class="header-text">
                        <h1>We offer Catering</h1>
                        <p class="header-p">We offer catering services for any kind og event! Contact us to make an
                            order</p>
                        <!--the div below is hidden on small screens  -->
                        <div class="hidden-small"><a class="btn btn-primary" href="contact.html">Contact us</a>
                        </div>
                        <!--/hidden-small -->
                    </div>
                    <!-- header-text  -->
                </div>
                <!-- ls-l  -->
            </div>
            <!-- ls-slide -->
            <!-- Slide 3 -->
            <div class="ls-slide" data-ls="duration:6000; transition2d:7; kenburnszoom:out; kenburnsscale:1.2;">
                <!-- background image  -->
                <img src="assets/img/slider/slide3.jpg" class="ls-bg" alt="" />
                <!-- text  -->
                <div class="ls-l header-wrapper"
                    data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400;">
                    <div class="header-text">
                        <h1><span>Welcome to</span> <br />Cake & Bake</h1>
                        <p class="header-p">We offer high quality, delicious,"from scratch" cakes! See our menu for more
                            information</p>
                        <!--the div below is hidden on small screens  -->
                        <div class="hidden-small">
                            <a class="btn btn-primary" href="menu.html">Our Menu</a>
                        </div>
                        <!--/hidden-small -->
                    </div>
                    <!-- header-text  -->
                </div>
                <!-- ls-l  -->
            </div>
            <!-- ls-slide -->
        </div>
        <!-- /slider -->
        <!--divider-home -->
        <div class="divider-top divider-home"></div>
        <!-- /divider-home -->
        <!-- ===== content-box starts  ===== -->
        <div class="content-box container">
            <section class="inside-page">
                <div class="inside-wrapper container">
                    <div class="col-md-12">
                        <h2 class="text-center-sm">Made with love</h2>
                        <img class="img-responsive img-rounded pull-right-lg col-md-4 center-block"
                            src="assets/img/services/services-home.jpg" alt="">
                        <p class="lead res-margin">High Quality services since 2001, qui fabulas definitiones at, ei
                            nibh offendit mel. Eius comprehensam ex est.Pri ei laudem invenire, has ex regione sapientem
                        </p>
                        <p>Lorem ipsum dolor sit amet, per no malorum aliquam utroque, vim legere eleifend an, malis
                            delicatissimi vel te. Pro fuisset splendide vulputate an, quo eu eripuit nominati. Sit enim
                            eius laoreet te, qui fabulas definitiones at, ei nibh offendit mel. Eius comprehensam ex
                            est.Pri ei laudem invenire, has ex regione sapientem.</p>
                    </div>
                </div>
            </section>
            <div class="bg-light">
                <section class="inside-page">
                    <div class="inside-wrapper container">
                        <div class="col-md-12">
                                <!-- owl-carousel -->
                                <div id="owl-services" class="owl-carousel owl-theme text-center res-margin">
                                    <!-- service 1  -->
                                    <div class="col-lg-12 p-1">
                                        <div class="box-hover icon p-3">
                                            <!-- service icon -->
                                            <i class="flaticon-birthday-cake  circle"></i>
                                            <!-- service content -->
                                            <div class="service-content">
                                                <h5>Form Cakes</h5>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum
                                                    malesuada.
                                                </p>
                                                <a class="btn btn-primary btn-md" data-toggle="tab" href="#A">Form</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- service 2  -->
                                    <div class="col-lg-12 p-1">
                                        <div class="box-hover icon p-3">
                                            <!-- service icon -->
                                            <i class="flaticon-cake-7 circle"></i>
                                            <!-- service content -->
                                            <div class="service-content">
                                                <h5>Saveur Cakes</h5>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum
                                                    malesuada.
                                                </p>
                                                <a class="btn btn-primary btn-md" data-toggle="tab" href="#B">Saveur</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- service 3  -->
                                    <div class="col-lg-12 p-1">
                                        <div class="box-hover icon p-3">
                                            <!-- service icon -->
                                            <i class="flaticon-cake-4  circle"></i>
                                            <!-- service content -->
                                            <div class="service-content">
                                                <h5>Garniture Cakes</h5>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum
                                                    malesuada.
                                                </p>
                                                <a class="btn btn-primary btn-md" data-toggle="tab" href="#C">Garniture</a>
                                            </div>
                                        </div>
                                    </div>
                            
                                   
                                </div>
                                <!-- /owl-carousel -->
                            <!-- /nav-tabs -->
                            <!--/nav nav-tabs -->
                            <div class="tabbable">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="A">
                                    <app-form></app-form>
                                    </div>
                                    <div class="tab-pane fade" id="B">
                                        <app-showsaveur></app-showsaveur>
                                    </div>
                                    <div class="tab-pane fade" id="C">
                                        <app-showgarniture></app-showgarniture>
                                    </div>
            
                                </div>
                            </div>
                           
                        </div>
                        <!-- /col-md-12 -->
                    </div>
                    <!-- /inside-wrapper-->
                </section>
            </div>                    
            
            <!-- /bg-light -->
            <section class="inside-page">
                <div class="inside-wrapper container">
                    <h2 class="text-center-sm">Latest Blog Posts</h2>
                    <div id="owl-posts" class="col-md-12 owl-carousel">
                        <!-- blog post -->
                        <div class="col-md-12 p-1">
                            <div class="post-slide box-hover">
                                <div class="post-img">
                                    <a href="blog-single.html">
                                        <!-- Image -->
                                        <img class="img-responsive" src="assets/img/blog/blogprev1.jpg" alt="">
                                        <!--date -->
                                        <div class="post-date">
                                            <span class="date">13</span>
                                            <span class="month">jan</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- post info -->
                                <div class="post-review">
                                    <h5 class="post-title"><a href="blog-single.html">The Best pastries for easter
                                            time</a></h5>
                                    <ul class="post-bar">
                                        <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                        <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                                    </ul>
                                    <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Ad magni, nesciunt obcaecati possimus...</p>
                                    <!-- button -->
                                    <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                                </div>
                                <!--/post-review -->
                            </div>
                            <!--/post-slide -->
                        </div>
                        <!-- /col-md-12 -->
                        <!-- blog post -->
                        <div class="col-md-12 p-1">
                            <div class="post-slide box-hover">
                                <div class="post-img">
                                    <a href="blog-single.html">
                                        <!-- Image -->
                                        <img class="img-responsive" src="assets/img/blog/blogprev2.jpg" alt="">
                                        <!--date -->
                                        <div class="post-date">
                                            <span class="date">07</span>
                                            <span class="month">feb</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- post info -->
                                <div class="post-review">
                                    <h5 class="post-title"><a href="blog-single.html">Order our new Red Velvet Cake </a>
                                    </h5>
                                    <ul class="post-bar">
                                        <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                        <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                                    </ul>
                                    <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Ad magni, nesciunt obcaecati possimus...</p>
                                    <!-- button -->
                                    <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                                </div>
                                <!--/post-review -->
                            </div>
                            <!--/post-slide -->
                        </div>
                        <!-- /col-md-12 -->
                        <!-- blog post -->
                        <div class="col-md-12 p-1">
                            <div class="post-slide box-hover">
                                <div class="post-img">
                                    <a href="blog-single.html">
                                        <!-- Image -->
                                        <img class="img-responsive" src="assets/img/blog/blogprev3.jpg" alt="">
                                        <!--date -->
                                        <div class="post-date">
                                            <span class="date">13</span>
                                            <span class="month">feb</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- post info -->
                                <div class="post-review">
                                    <h5 class="post-title"><a href="blog-single.html">Order your Valentines day Cake</a>
                                    </h5>
                                    <ul class="post-bar">
                                        <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                        <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                                    </ul>
                                    <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Ad magni, nesciunt obcaecati possimus...</p>
                                    <!-- button -->
                                    <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                                </div>
                                <!--/post-review -->
                            </div>
                            <!--/post-slide -->
                        </div>
                        <!-- /col-md-12 -->
                        <!-- blog post -->
                        <div class="col-md-12 p-1">
                            <div class="post-slide  box-hover">
                                <div class="post-img">
                                    <a href="blog-single.html">
                                        <!-- Image -->
                                        <img class="img-responsive" src="assets/img/blog/blogprev4.jpg" alt="">
                                        <!--date -->
                                        <div class="post-date">
                                            <span class="date">22</span>
                                            <span class="month">feb</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- post info -->
                                <div class="post-review">
                                    <h5 class="post-title"><a href="blog-single.html">Gingerbread decoration
                                            workshop</a></h5>
                                    <ul class="post-bar">
                                        <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                        <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                                    </ul>
                                    <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Ad magni, nesciunt obcaecati possimus...</p>
                                    <!-- button -->
                                    <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                                </div>
                                <!--/post-review -->
                            </div>
                            <!--/post-slide -->
                        </div>
                        <!-- /col-md-12 -->
                    </div>
                    <!-- alert box -->
                    <div class="alert-bg alert alert-info col-md-12 margin1">
                        <h5>Custom Orders</h5>
                        <p>Laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor
                            placerat, nec elementum ipsum convall.
                        </p>
                        <p>Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus
                            scelerisque laoree.
                        </p>
                        <!-- button -->
                        <a class="btn btn-secondary" href="contact.html">Contact us</a>
                    </div>
                    <!-- /alert -->
                </div>
                <!-- /inside-wrapper -->
            </section>
            <!-- footer -->
            <app-footer></app-footer>
            <!-- / footer-->
        </div>
        <!-- / content-box -->
    </div>
    <!-- /content-wrapper -->
</div>
<!-- /content -->