
    
        <!-- /slider -->
        <!--divider-home -->
        <div class="divider-top divider-home"></div>
        <!-- /divider-home -->
        <!-- ===== content-box starts  ===== -->
        <div class="content-box container">
            <section class="inside-page">
                <div class="inside-wrapper container">
                    <div class="col-md-12">
                        <h2 class="text-center-sm">Made with love</h2>
                        <img class="img-responsive img-rounded pull-right-lg col-md-4 center-block"
                            src="assets/img/services/services-home.jpg" alt="">
                        <p class="lead res-margin">Prêt à préparer le gâteau de vos rêves!
                        </p>
                        <p>Bienvenue sur  <b>Dream & Cake</b>, votre destination idéale pour créer le gâteau de vos rêves ! Nous vous offrons une expérience unique où vous pouvez personnaliser votre gâteau selon vos goûts et préférences. Choisissez la taille, la saveur et la garniture qui vous conviennent, et laissez-nous réaliser votre création parfaite. Si vous préférez, parcourez notre sélection de gâteaux prêts à commander, et passez votre commande en quelques clics. Que ce soit pour une fête, un événement spécial, ou tout simplement pour satisfaire votre envie de sucré, Dream & Cake est là pour vous offrir des créations gourmandes, faites avec amour et soin.</p>
                    </div>
                </div>
            </section>

            <div *ngIf="userRole === 'USER'">
             <app-add-gateau id="cake_section"></app-add-gateau>
            </div>
       
        


        
        <!-- /bg-light -->
        <section class="inside-page">
            <div class="inside-wrapper container">
                <h2 class="text-center-sm">Latest Blog Posts</h2>
                <div id="owl-posts" class="col-md-12 owl-carousel">
                    <!-- blog post -->
                    <div class="col-md-12 p-1">
                        <div class="post-slide box-hover">
                            <div class="post-img">
                                <a href="blog-single.html">
                                    <!-- Image -->
                                    <img class="img-responsive" src="assets/img/blog/blogprev1.jpg" alt="">
                                    <!--date -->
                                    <div class="post-date">
                                        <span class="date">13</span>
                                        <span class="month">jan</span>
                                    </div>
                                </a>
                            </div>
                            <!-- post info -->
                            <div class="post-review">
                                <h5 class="post-title"><a href="blog-single.html">The Best pastries for easter
                                        time</a></h5>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                                </ul>
                                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Ad magni, nesciunt obcaecati possimus...</p>
                                <!-- button -->
                                <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                            </div>
                            <!--/post-review -->
                        </div>
                        <!--/post-slide -->
                    </div>
                    <!-- /col-md-12 -->
                    <!-- blog post -->
                    <div class="col-md-12 p-1">
                        <div class="post-slide box-hover">
                            <div class="post-img">
                                <a href="blog-single.html">
                                    <!-- Image -->
                                    <img class="img-responsive" src="assets/img/blog/blogprev2.jpg" alt="">
                                    <!--date -->
                                    <div class="post-date">
                                        <span class="date">07</span>
                                        <span class="month">feb</span>
                                    </div>
                                </a>
                            </div>
                            <!-- post info -->
                            <div class="post-review">
                                <h5 class="post-title"><a href="blog-single.html">Order our new Red Velvet Cake </a>
                                </h5>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                                </ul>
                                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Ad magni, nesciunt obcaecati possimus...</p>
                                <!-- button -->
                                <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                            </div>
                            <!--/post-review -->
                        </div>
                        <!--/post-slide -->
                    </div>
                    <!-- /col-md-12 -->
                    <!-- blog post -->
                    <div class="col-md-12 p-1">
                        <div class="post-slide box-hover">
                            <div class="post-img">
                                <a href="blog-single.html">
                                    <!-- Image -->
                                    <img class="img-responsive" src="assets/img/blog/blogprev3.jpg" alt="">
                                    <!--date -->
                                    <div class="post-date">
                                        <span class="date">13</span>
                                        <span class="month">feb</span>
                                    </div>
                                </a>
                            </div>
                            <!-- post info -->
                            <div class="post-review">
                                <h5 class="post-title"><a href="blog-single.html">Order your Valentines day Cake</a>
                                </h5>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                                </ul>
                                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Ad magni, nesciunt obcaecati possimus...</p>
                                <!-- button -->
                                <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                            </div>
                            <!--/post-review -->
                        </div>
                        <!--/post-slide -->
                    </div>
                    <!-- /col-md-12 -->
                    <!-- blog post -->
                    <div class="col-md-12 p-1">
                        <div class="post-slide  box-hover">
                            <div class="post-img">
                                <a href="blog-single.html">
                                    <!-- Image -->
                                    <img class="img-responsive" src="assets/img/blog/blogprev4.jpg" alt="">
                                    <!--date -->
                                    <div class="post-date">
                                        <span class="date">22</span>
                                        <span class="month">feb</span>
                                    </div>
                                </a>
                            </div>
                            <!-- post info -->
                            <div class="post-review">
                                <h5 class="post-title"><a href="blog-single.html">Gingerbread decoration
                                        workshop</a></h5>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                                </ul>
                                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Ad magni, nesciunt obcaecati possimus...</p>
                                <!-- button -->
                                <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                            </div>
                            <!--/post-review -->
                        </div>
                        <!--/post-slide -->
                    </div>
                    <!-- /col-md-12 -->
                </div>
                <!-- alert box -->
                <div class="alert-bg alert alert-info col-md-12 margin1">
                    <h5>Custom Orders</h5>
                    <p>Laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor
                        placerat, nec elementum ipsum convall.
                    </p>
                    <p>Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus
                        scelerisque laoree.
                    </p>
                    <!-- button -->
                    <a class="btn btn-secondary" href="contact.html">Contact us</a>
                </div>
                <!-- /alert -->
            </div>
            <!-- /inside-wrapper -->
        </section>
        <!-- footer -->
        <app-footer></app-footer>
        <!-- / footer-->