<div class="cake-preview">
    <h2>Détails du Gâteau</h2>

    <div *ngIf="gateauDetails">
        <h2>Détails du Gâteau</h2>
        <p>Form: <img src="{{gateauDetails.forme?.image}}" width="100px" ></p> 
        <p>Saveur: <img src="{{gateauDetails.saveur?.image}}" width="100px" ></p> 
        <p>Garniture: <img src="{{gateauDetails.garnitures?.image}}" width="100px" ></p> 
        <p>Total: {{ gateauDetails.prixtotal }}</p>
        <p>Message: {{ gateauDetails.message }}</p>
    </div>
    
    
    
    <button (click)="createCommande()">Commander</button>
  </div>
  