
<div class="garniture-container">
  <div class="add-button-container">
    <button mat-raised-button class="add-garniture-button" [routerLink]="['/dashboard/AddGarnitur']">
      <mat-icon>add</mat-icon>
      Add New Garniture
    </button>
  </div>

  <div class="table-scroll-container">
    <table mat-table [dataSource]="garnitures" class="mat-elevation-z8">
      <!-- Column Definitions -->
      <ng-container matColumnDef="idTopping">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let garnitures"> {{ garnitures.idTopping }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let garnitures"> {{ garnitures.name }} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let garnitures"> {{ garnitures.price | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let garnitures">
          <img [src]="garnitures.image" alt="Image de {{ garnitures.name }}" class="garnitures-image"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let garnitures">
          <div class="icon-actions">
            <a [routerLink]="['/dashboard/updateG', garnitures.idTopping]">
              <mat-icon aria-hidden="false">edit</mat-icon>
            </a>
            |
            <a (click)="onDeleteGarniture(garnitures.idTopping)">
              <mat-icon aria-hidden="false">delete</mat-icon>
            </a>
          </div>
        </td>
      </ng-container>

      <!-- Table Header -->
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <!-- Table Rows -->
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </div>
</div>
