/* formes-list.component.css */
.garniture-container {
    padding: 20px;
  }
  table {
    width: 50%;
  }
  
  .garniture-card {
    margin: 10px;
  }
  

  .garniture-list-container{
    padding-bottom: 20px;

  }
/* show.component.css */
.garnitures-image {
    max-width: 100px; /* ou toute autre valeur selon votre préférence */
    height: auto;
    border-radius: 4px; /* Pour arrondir les coins si nécessaire */
  }
  
  